.subtitulo {
    margin: 15px;
    padding: 0;
}

.tituloInterno{
    font-size: 24px;
    padding: 0 0 0 20px;
    margin: 0;
}

.contenedor{ /*	Aplica a cualquier elemento con class="contenedor"*/
    
    max-width: 100%; /*max-width: 100% significa que el ancho máximo que puede tener el contenedor será del 100% del ancho de su contenedor padre. Esto evita que se desborde*/
    margin: 0 auto;
    padding: 20px;
}

.imagen{
    float: right;
    margin: 0 0 20px 20px;
    max-width: 25%;
    height: auto;
}

.imagen2{
    float: left;
    margin: 0 20px 20px 0;
    max-width: 25%;
    
    height: auto; /*Esta propiedad indica que el alto del elemento se ajustará automáticamente según su contenido.*/
}

p{
    font-size: 18px;
}