.contenedor{
    display: flex;
    justify-content: center;
}

table{
    border-collapse: collapse;
    border: 2px solid rgb(11, 172, 212);
    letter-spacing: 1px;
    font-size: 1.5rem;
    background-color: rgb(206, 221, 243);
}

th{
    text-align: left;
    border: 1px solid rgb(133, 101, 175);
    padding: 10px;
    background-color: rgb(110, 110, 110);
}

td{
    border: 1px solid grey;
    padding: 10px;
}

h2{
    margin: 0;
    padding: 20px;
}

tr:hover{
    background-color: rgb(205, 205, 205);
}